{% extends 'sender/base.html' %}

{% block content %}
    {% load static %}
    {% load sender_tags %}
    {% load sender_filters %}

    <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
        <h3 class="display-4">Страница рассылки</h3>
        <p class="lead">Создавайте и изменяйте рассылки с различными темами и базами почтовых адресов</p>
    </div>

<div class="container">
    <div class="row">
        <div class="col-lg-3 col-md-12 col-sm-12">
            <div class="card border-{% if object.periodicity == 'Раз в неделю' and not object.weekday %}danger">
                            {% elif object.periodicity == 'Раз в месяц' and not object.monthdate %}danger">
                            {% elif not object.mail_dump %}danger">{% else %}success">
                            {% endif %}
              <div class="card-header text-center">
                  <h5>{{ object.title }}</h5>
              </div>
              <div class="card-body">
                <h6 class="card-subtitle mb-2 text-muted">Настройки рассылки</h6>
                <table class="table table-striped{% if object.periodicity == 'Раз в неделю' and not object.weekday %} table-danger">
                            {% elif object.periodicity == 'Раз в месяц' and not object.monthdate %} table-danger">
                            {% elif not object.mail_dump %} table-danger">{% else %} table-info">
                            {% endif %}
                    <tbody>
                        <tr>
                            <td class="col-4">Статус:</td>
                            <td class="col-8">{{ object.status }}</td>
                        </tr>
                        <tr>
                            <td class="col-4">Периодичность:</td>
                            <td class="col-8">{{ object.periodicity }}</td>
                        </tr>
                        <tr>
                            <td class="col-4">Время:</td>
                            <td class="col-8">{{ object.hour }}:{{ object.minute }}</td>
                        </tr>
                        {% if object.periodicity == 'Раз в неделю' and object.weekday %} <tr><td>{{ object.weekday }}</td></tr>
                        {% elif object.periodicity == 'Раз в месяц' and object.monthdate %} <tr><td> {{ object.monthdate }}</td></tr>
                        {% endif %}
                        </tr>
                        <tr>
                            <td class="col-4">Кол-во писем:</td>
                            <td class="col-8">{% count_obj letters %}</td>
                        </tr>
                        <tr>
                        </tr>
                    </tbody>
                </table>
                  <div class="row">
                      <a class="p-1 btn btn-outline-primary w-50" href="{% url 'sender:update_mailing' object.pk %}">Изменить</a>
                      <a class="p-1 btn btn-outline-danger w-50" href="{% url 'sender:delete_mailing' object.pk %}">Удалить</a>
                  </div>
              </div>
                <div class="card-footer text-center">
                    <strong>{% if object.periodicity == 'Раз в неделю' and not object.weekday %} Добавьте день недели рассылки!
                    {% elif object.periodicity == 'Раз в месяц' and not object.monthdate %} Добавьте дату месяца рассылки!
                    {% elif not object.mail_dump %} Загрузите базу мейлов! {% else %} Рассылка готова к работе!
                    {% endif %}</strong>
                </div>
            </div>
        </div>
        <div class="col-lg-9 col-md-12 col-sm-12">
            <div class="card border-0">
                <div class="card-header text-center">
                    <div class="row">
                        <div class="col-lg-3 col-md-12 col-sm-12">  </div>
                        {% if not letters %}
                        <h4 class="text-center">У Вас пока нет писем в данной рассылке, создайте их, чтобы запустить рассылку</h4>
                        {% else %}
                        <div class="col-lg-6 col-md-12 col-sm-12 text-center">
                            <a class="p-1 btn btn-outline-success w-100" href="#create_letter_form">Создать новое письмо</a>
                        </div>
                    </div>
                </div>
              <div class="card-body">
                <table class="table table-striped table-info">
                    <tbody>
                    <thead>
                        <tr>
                            <th class="col-2" scope="col">{{ form.title.label }}</th>
                            <th class="col-4" scope="col">{{ form.content.label }}</th>
                            <th class="col-2" scope="col">Статус</th>
                            <th class="col-1" scope="col"></th>
                        </tr>
                    </thead>
                    {% for letter in letters %}
                        <tr class="{% if letter.status == 'Ожидает отправки' %} table-light
                                {% elif letter.status == 'Отправлено'  %} table-success">
                                {% endif %}">
                            <td>{{ letter.title }}</td>
                            <td>{{ letter.content | truncatechars:200 }}</td>
                            <td>{{ letter.status }}. Очередь на отправку: <strong># {{ letter.position | cutlastchar }}</strong></td>
                            <td>
                                <a class="img-fluid" href="{% url 'sender:update_letter' letter.pk %}"><img src="{% static "img/update.png" %}" title="Редактировать письмо"></a>
                                <a class="img-fluid" href="{% url 'sender:delete_letter' letter.pk %}"><img src="{% static "img/delete.png" %}" title="Удалить письмо"></a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
              </div>
            </div>
        {% endif %}
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        {% if not letters %}
        {% else %}
            <div class="col-lg-3 col-md-12 col-sm-12"></div>
            <div class="col-lg-8 col-md-12 col-sm-12">
            {% endif %}
            <div class="card mb-4 box-shadow">
                <div id='#create_letter_form' class="card-header text-center">
                    <h4 class="my-0 font-weight-normal">Создать новое письмо</h4>
                </div>
                <div class="card-body">
                    <form method="post" action="" class="form-floating" enctype="multipart/form-data">
                        {% csrf_token %}
                        <input type="hidden", required id="id_username", name="username" value="{{ user.pk }}">
                        <input type="hidden", required id="id_mailing", name="mailing" value="{{ object.pk }}">
                        <input type="hidden" name="position" id="id_position" value="{% get_position letters %}">
                        <div class="mb-3">
                            <label for="id_title">{{ form.title.label }}</label>
                            <input type="text" class="form-control form-control-sm" name="title" maxlength="50" required="" id="id_title">
                            <p><div class="form-error text-danger">{{  form.title.errors | format_err }}</div></p>
                        </div>
                        <div class="mb-3">
                            <label for="id_content">{{ form.content.label }}</label>
                            <textarea name="content" class="form-control form-control-sm" cols="40" rows="10" required="" id="id_content"></textarea>
                            <p><div class="form-error text-danger">{{  form.content.errors | format_err }}</div></p>
                        </div>
                        <button type="submit" class="btn btn-lg btn-block btn-outline-success">Создать письмо</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

    <script>src="{% static 'js/bootstrap.min.js' %}"</script>


{% endblock %}