{% load static %}
{% load sender_filters %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Smart Sender</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
</head>
<body>

    <div class="row">
        <div class="col-lg-4 col-md-12 col-sm-12"></div>
            <div class="col-lg-4 col-md-8 col-sm-12">
                <div class="card mb-4 box-shadow text-center">   </div>
                    <div class="card-header text-center">    </div>
                <div class="card mb-4 box-shadow text-center">
                    <div class="card-header text-center">
                        <h2>Регистрация в сервисе</h2>
                    </div>
                    <div class="card-body mb-3">
                        <form method="post">
                            {% csrf_token %}
                            <div class="mb-3">
                                <label class="form-label" for="id_username">{{ form.username.label }}</label>
                                <input type="text" class="form-input form-control form-control-sm" name="username" autofocus="" required="" id="id_username">
                                <p><div class="form-error text-danger">{{  form.usename.errors | format_err }}</div></p>
                            </div>
                            <div class="mb-3">
                                <label class="form-label" for="id_email">{{ form.email.label }}</label>
                                <input type="email" class="form-input form-control form-control-sm" name="email"  required="" id="id_email">
                                <p><div class="form-error text-danger">{{  form.email.errors | format_err }}</div></p>
                            </div>
                            <div class="mb-3">
                                <label class="form-label" for="id_password1">{{ form.password1.label }}</label>
                                <input type="password" class="form-input form-control form-control-sm" name="password1" required="" id="id_password1">
                                <p><div class="form-error text-danger">{{  form.password1.errors }}</div></p>
                            </div>
                            <div class="mb-3">
                                <label class="form-label" for="id_password2">{{ form.password2.label }}</label>
                                <input type="password" class="form-input form-control form-control-sm" name="password2" required="" id="id_password2">
                                <p><div class="form-error text-danger">{{  form.password2.errors }}</div></p>
                            </div>
                                <button class="btn btn-outline-primary text-center w-50" type="submit">Регистрация</button>
                            <div class="mb-3">   </div>
                            <div class="mb-3"> <a class="link-primary" href="{% url 'sender:login' %}">Авторизация</a> </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>


</body>
</html>